*{
    box-sizing: border-box;
}
body{
    margin: 10px;
    padding: 8px;
    
}

.divProducts{
    padding:5px;
    margin:5px;
}

img{
    width:150px;
    height: 200px;
    border-radius: 4px;

}

.card-body{
    background-color: wheat;
}
.card{
    border-radius: 4px;
}

h6{
    text-size-adjust: 14px;
    font-style: italic;
}

h1{
    color: blue;
    text-decoration:underline;
}

/* .btn-primary:hover{
    background-color: aqua;
    border-radius: 2px;
} */

.btn-success:selection{
    background-color: green;
    border-radius: 2px;
}
